.jumbotron{

	background-color: black;
	color: red;
	margin-top: 50px;
}

.btn a{
	color: white;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: black;
	color: red;
	margin-bottom: 0px;
	margin-top:10px;
}

footer a{
	color: red;
}

.card{
	flex: 1 150px;
	margin-top: 10px;
}

.btn-reserve{
	width: 100%;
	border-radius: 0px;

}

.footer-address-icon{
	padding-right: 10px;
}

.card-columns{
	display: inline-block;
}

 .img-fluid{
	max-width: 100%;
	height: 300px;
}

.tab-content{
	padding-top: 10px;
}