$rb: #000005;
$yellow: #fff000;
$red: #ff0000;
$green: #00ad03;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{

	background-color: $rb;
	color: $red;
	@include margenes(50px, 15px);
}

.btn a{
	color: white;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $rb;
	color: $red;
	@include margenes(10px, 0px);
}

footer a{
	color: red;
}

.card{
	flex: 1 150px;
	@include margenes(10px, 0px);
}

.btn-reserve{
	width: 100%;
	border-radius: 0px;

}

.footer-address-icon{
	padding-right: 10px;
}

.card-columns{
	display: inline-block;
}

 .img-fluid{
	max-width: 100%;
	height: 300px;
}

.tab-content{
	padding-top: 10px;
}