@yellow: fffa19;
@red: #ff0000;
@green: #00ad03;
.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}


.jumbotron {
  background-color: @yellow;
  color: #ff0000;
  .margenes(50px,0px);
}

.btn a {
  color: white; }

footer {
  padding: 10px 10px 0 10px;
  background-color: @red;
  color: #ff0000;
  .margenes(10px,0px); }

footer a {
  color: red; }

.card {
  flex: 1 150px;
  .margenes(10px,0px); }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.card-columns {
  display: inline-block; }

.img-fluid {
  max-width: 100%;
  height: 300px; }

.tab-content {
  padding-top: 10px; }
